li{list-style:none}

.panel-title{font-size:20px;}

.modal-backdrop{

    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    width: 0;
    height: 0;
    background-color: #000;
}
.modal-backdrop.show{
    opacity: 0;
}

.page-wrapper{
    margin-left: 4%;
    margin-right: 3%;
}
